extends ./layout/index

block contenido
    h2 Please, complete the following form:
    
    form(action="/result" method="POST")
        .form-group
            label(for="vehiclePlate") Vehicle plate: 
            input#vehiclePlate(type="text", placeholder="PBZ-1234", name="vehiclePlate", class="form-control")

        .form-group
            label(for="date") Date:       
            input#date(type="text", placeholder="YYYY-mm-dd", name="date", class="form-control")
        
        .form-group
            label(for="time") Time:       
            input#time(type="text", placeholder="hh:mm", name="time", class="form-control")

        input.btn.btn-success(type="submit", "value"="Calculate")